@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: maqin-italic;
  src: url("./fonts/maqin-italic.ttf");
}

.swiper-button-next {
  color: red;
}

/* swiper-custom-navigation.css */
.swiper-custom-navigation .swiper-button-next,
.swiper-custom-navigation .swiper-button-prev {
  @apply text-orange-700;
  /* Add any other customizations you want */
}
